.section {
  z-index: 900;
  padding-left: 110px;
  padding-right: 110px;
  margin: 200px auto;
  max-width: 1200px;
}

#about {
  margin-top: 400px;
}

.section-header {
  display: flex;
}
.about-number {
  margin-right: 10px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: clamp(16px, 3vw);
  font-weight: 400;
}
.about-heading {
  margin: 20px 0px;
  font-weight: 600;
  color: #ccd6f6;
  text-align: start;
}

.paragraphs {
  max-width: 600px;
  text-align: start;
  font-size: 17px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui;
}
#paragraph1 {
  animation-delay: 400ms !important;
}
#paragraph2 {
  animation-delay: 800ms !important;
}
#paragraph3 {
  animation-delay: 1200ms !important;
}
.paragraphsWrapper {
  display: flex;
}
.profile {
  width: 250px; /* width of container */
  height: 280px; /* height of container */
  object-fit: cover;
  object-position: 20% 10%; /* try 20px 10px */
  margin-left: 50px;
  border-radius: 5%;
  animation-delay: 1800ms !important;
}
.headingWrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
}
.linkWrapper {
  width: 100%;
  align-items: flex-end;
  flex-direction: row;
  text-align: end;
}

.projects {
  display: flex;
  align-items: start;
  margin-bottom: 200px;
}

.bigHeadingProjects {
  font-size: 26px !important;
  margin: 5px 0px;
  position: relative;
  bottom: 10px;
}
#getWellyImg {
  background-image: url(https://www.upload.ee/image/14231004/getwelly_copy.PNG);
}
#movieAppImg {
  background-image: url(https://www.upload.ee/image/14154129/movie_app_screenshot.PNG);
}
#portfolioImg {
  background-image: url(https://www.upload.ee/image/14342819/egnatios_folio.PNG);
}
.projectDescription {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
  animation-fill-mode: none, backwards;
  position: relative;
  z-index: 2;
  padding-bottom: 25px;
}

.descriptionParagraph {
  background-color: #0a192f;
  padding: 20px;
  position: relative;
  right: 120px;
  border-radius: 2%;
  width: 400px;
  z-index: 1000;
  border: 1px solid #64ffda;
}
.descriptionParagraph-left {
  background-color: #0a192f;
  border: 1px solid #64ffda;
  padding: 20px;
  position: relative;
  left: 80px;
  border-radius: 2%;
  max-width: 400px;
  z-index: 1000;
}
.projectImg {
  max-width: 600px;
  border: 1px solid #64ffda;
  border-radius: 2%;
  z-index: 1;
  background-size: cover;
  width: 100%;
  height: 295px;
  z-index: 0;
}
.projectImgLeft {
  min-width: 600px;
}
.technology {
  color: var(--light-slate);
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  white-space: nowrap;
  margin-left: 19px;
}
.technologyLeft {
  margin-right: 19px;
  margin-left: 5px;
}
.technologyListWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.icon {
  font-size: 1.7rem;
  display: inline;
  margin-left: 8px;
}
.icon:hover {
  color: #036a5e;
}

.icon-left {
  margin-right: 8px;
  margin-left: 0px;
}
.imageDivRightAnchor {
  width: 100%;
}
.projectDescriptionRight {
  margin-top: 20px;
}
@media (max-width: 1300px) {
  .projectDescriptionRight {
    position: relative;
    right: 150px;
  }
  .imageDivLeft {
    position: relative;
    right: 150px;
  }
}
@media (max-width: 1100px) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }
  .projectDescriptionRight {
    position: absolute;
    padding-right: 20px;
    right: 20px;
  }
  #portfolioProjectDescription {
    right: 0px !important;
    padding-right: 5px;
  }
  #portfolioDescriptionParagraph {
    padding-right: 0px;
    max-width: 75%;
  }
  .imageDivLeftAnchor {
    position: absolute;
    right: 10px;
  }
  .projectDescriptionLeft {
    z-index: 500;
  }
  .paragraphsWrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 926px) {
  .projectDescriptionRight {
    width: 100vw;
    background-color: rgba(10, 25, 47, 0.85);
    align-items: flex-end;
  }
  .projectDescriptionLeft {
    width: 100vw;
    background-color: rgba(10, 25, 47, 0.85);
    align-items: flex-start;
  }
  .descriptionParagraph,
  .descriptionParagraph-left {
    left: 0px;
    right: 0px;
    border: none;
  }
}
@media (max-width: 709px) {
  .projectImgLeft {
    min-width: 100%;
  }
  .imageDivLeftAnchor {
    width: 100%;
    right: 0px;
  }
}
@media (max-width: 657px) {
  .projectImg {
    width: 100%;
  }
  .profile {
    display: none;
  }
}
@media (max-width: 465px) {
  .projectImg {
    height: 450px !important;
  }
  .projectDescription {
    padding-top: 101px;
    padding-bottom: 51px;
  }
  .descriptionParagraph {
    max-width: 85%;
  }
  #portfolioProjectDescription {
    background-color: rgba(10, 25, 47, 0.948);
  }
}
