.contact {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  justify-content: center;
}
.aboutXSmallHeading {
  position: relative;
  top: 31px;
}
.paragraphWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}
.contactButton {
  font-weight: 200;
  border: 3px solid #ff5277;
}
.contactParagraph {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 20px;
  max-width: 500px;
  text-align: center;
}
.contactNumber {
  position: relative;
  top: 5px;
}
.contactHeading {
  text-align: center !important;
}
#contactHeading {
  margin-top: 70px !important;
}
.contactHeading {
  margin-bottom: 50px !important;
}
#or {
  position: relative;
  top: 20px;
}
